@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins.scss";

html,
body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

body {
	@apply relative font-text text-base text-lightDark bg-white;
}

img {
	display: block;
}

main {
	flex: 1 0 auto;
}

::-webkit-scrollbar {
	@apply bg-lightDark;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	@apply bg-peach;
	border-radius: 5px;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	/* @include adaptive-value-desktop("padding-top", 200, 168, 1);

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("padding-top", 270, 235, 0);
	}

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-top", 235, 204, 0);
	}

	@media (max-width: em(320)) {
		padding-top: 204px;
	} */
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1475px;
	margin: 0 auto;
	@include adaptive-value("padding-right", 20, 10, 1);
	@include adaptive-value("padding-left", 20, 10, 1);
	padding: 0 20px;
}

.title {
	@apply text-lightDark;
	@include adaptive-value("padding-bottom", 30, 20, 1);
	font-weight: 700;
	@include adaptive-value-desktop("font-size", 36, 30, 1);
	@include adaptive-value-desktop("line-height", 44, 37, 1);

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("font-size", 30, 28, 0);
		@include adaptive-value-tablet("line-height", 37, 34, 0);
	}

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("font-size", 28, 20, 0);
		@include adaptive-value-mobile("line-height", 34, 24, 0);
	}

	@media (max-width: em(320)) {
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 23px;
	}
}

.section {
	padding-bottom: 50px;

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-bottom", 50, 30, 1);
	}

	@media (max-width: em(320)) {
		padding-bottom: 30px;
	}
}

.page {
	padding: 50px 0;

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-top", 50, 30, 1);
		@include adaptive-value-mobile("padding-bottom", 50, 30, 1);
	}

	@media (max-width: em(320)) {
		padding: 30px 0;
	}
}

.page-other {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
}

.btn {
	@apply text-white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	@include adaptive-value("max-width", 140, 120, 1);
	@include adaptive-value("height", 40, 30, 1);
	border: 1px solid transparent;
	@include adaptive-value("border-radius", 20, 10, 1);
	@include adaptive-value("font-size", 14, 12, 1);
	@include adaptive-value("line-height", 14, 12, 1);
	transition: all 0.5s ease;
	cursor: pointer;
	will-change: transform;

	&--transparent {
		@apply text-lightDark;
		background-color: transparent;
		cursor: default;
	}

	&--blue {
		@apply bg-darkBlue;

		@media (min-width: em(769)) {
			&:hover {
				@apply border border-darkBlue border-solid bg-white text-darkBlue;
			}
		}
	}

	&--peach {
		@apply bg-peach;

		@media (min-width: em(769)) {
			&:hover {
				@apply border border-peach border-solid bg-white text-peach;
			}
		}
	}

	&:active {
		transform: scale(0.96);
	}
}
