@import "../../../styles/mixins.scss";

.office {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1px;
	max-width: 299px;
	width: 100%;
	height: 60px;
}

.btn {
	@apply flex flex-col items-center justify-center w-full h-full bg-lightDark text-white font-text tablet:hover:bg-heavyDark transitionButton cursor-pointer will-change-transform active:scale-99;
}

.btnLogin,
.btnOrders {
	border-radius: 0 15px 15px 0;
	max-width: 80px;
	width: 100%;
}

.btnRegistration,
.btnExit {
	flex-direction: row;
	column-gap: 10px;
	max-width: 218px;
	border-radius: 15px 0 0 15px;
}

.icon {
	@apply fill-white w-[25px] h-[25px];
}
