@import "../../../styles/mixins.scss";

.office {
	@apply flex items-center justify-between gap-x-[1px] max-w-[299px] w-full h-[70px] desktop2XL:h-[60px];
}

.btn {
	@apply flex flex-col items-center justify-center w-full h-full bg-lightDark text-white font-text tablet:hover:bg-heavyDark transitionButton cursor-pointer will-change-transform active:scale-99;

	span {
		@apply text-base tablet:text-sm;
	}
}

.btnLogin,
.btnOrders {
	border-radius: 0 15px 15px 0;
	max-width: 80px;
	width: 100%;
}

.btnRegistration,
.btnExit {
	flex-direction: row;
	column-gap: 10px;
	max-width: 218px;
	border-radius: 15px 0 0 15px;
}

.icon {
	@apply fill-white w-[25px] h-[25px];
}
