.menu {
	@apply flex items-center justify-between gap-x-[40px] desktopXL:gap-x-[30px] h-full desktop:hidden;
}

.menuMobile {
	@apply fixed top-[70px] tablet:top-[60px] right-0 flex flex-col justify-center items-center gap-y-3 w-full h-[220px] bg-darkBlue border-t-[3px] border-solid border-peach;
	animation-duration: 1s;
	animation-name: animationMenu;
	z-index: 1;
}

.link {
	@apply linkHeader text-xl desktop2XL:text-lg tablet:text-base mobile2XL:text-sm transitionAll;
}

.linkActive {
	@apply linkHeaderActive;
}

@keyframes animationMenu {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}
