.menu {
	@apply flex items-center justify-between gap-x-[40px] h-full;

	@screen desktopXL {
		@apply gap-x-[30px];
	}

	@screen desktop {
		@apply hidden;
	}
}

.menuMobile {
	@apply fixed top-[70px] right-0 flex flex-col justify-center items-center gap-y-3 w-full h-[220px] bg-darkBlue border-t-[3px] border-solid border-peach z-[1];
	animation-duration: 1s;
	animation-name: animationMenu;

	@screen tablet {
		@apply top-[60px];
	}
}

.link {
	@apply font-title font-bold text-white text-xl transitionAll will-change-transform active:scale-99;
	border-bottom: 3px solid transparent;

	@screen desktop2XL {
		@apply text-lg;
	}

	@screen tabletMin {
		@apply hover:border-peach hover:text-peach;
	}

	@screen tablet {
		@apply text-base;
	}

	@screen mobile2XL {
		@apply text-sm;
	}
}

.linkActive {
	@apply text-peach border-peach;
}

@keyframes animationMenu {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}
